/* Styling news page */
.newsMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  padding: 32px 81px;
  height: 100vh;
  overflow: scroll;
  background-image: url("/assets/svg/mapWorld.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  position: relative;
  color: #000;
}
.choosen {
  align-self: flex-start;
}
.choosen > p {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.choosen > p > span:first-child {
  color: #2980c3;
}
.choosen > p > span:hover {
  font-weight: 600;
}
.newsCardMain {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 25px;
  transition: transform 0.5s ease-in-out;
}
.newsSection {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.newsSection > h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.newsArrow {
  position: absolute;
  left: -50px;
  display: inline-flex;
  padding: 11.957px;
  align-items: flex-start;
  cursor: pointer;
  gap: 10.87px;
  border-radius: 26.087px;
  border: none;
  background: #fff;
  box-shadow: 0px 7.031px 19.531px 0px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease-in-out;
}
.newsArrowRigt {
  left: 100%;
}
.newsArrow:hover {
  background-color: #f9f9f9;
  box-shadow: 0px 17.031px 19.531px 1px rgba(0, 0, 0, 0.06);
}
.arrowRight {
  transform: rotate(180deg);
}
/* News Cards  */
.newsCard {
  border-radius: 20px;
  height: 490px;
  box-shadow: 4px 0px 23.5px 0px rgba(189, 189, 189, 0.25);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.newsCard:hover {
  transform: scale(1.05) !important; /* Scale up the card on hover */
}
.newsCardHead {
  border-radius: 20px;
  padding: 14px 12px;
  width: 409px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}
.newsCardHead > img {
  border-radius: 13px;
}
.newsCardHead > p {
  color: #333;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 191%; /* 30.56px */
}
.newsCardBody {
  border-radius: 20px;
  padding: 14px 12px;
  width: 409px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}
.newsDate {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.newsDate > p {
  color: #a0a0a0;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 27.2px */
}
.newsCardBody > p {
  color: #878585;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 205%; /* 28.7px */
}
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.paginationLink {
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.paginationLink:hover {
  background-color: #eee;
}
.paginationLink.active {
  background-color: #007bff;
  color: #fff;
}
/* Responsive for less than 1350px */
@media (max-width: 1350px) {
  .newsCardHead {
    width: 320px;
  }
  .newsCardHead > img {
    width: 300px;
  }
  .newsCardBody {
    width: 320px;
  }
  .newsCardMain {
    row-gap: 70px;
    column-gap: 10px;
  }
  .paginationContainer {
    margin-top: 70px;
  }
}
/* Resonsive for less than 1100px */
@media (max-width: 1100px) {
  .newsMain {
    padding: 32px 0px;
  }
}
@media (max-width: 1000px) {
  .choosen {
    align-self: center;
  }
  .newsSection {
    text-align: center;
  }
  .newsCardMain {
    grid-template-columns: 1fr 1fr;
  }
}
/* Media screen for less than 650px */
@media (max-width: 650px) {
  .newsCardMain {
    grid-template-columns: 1fr;
  }
}
