/* Main file for master plan page */
.masterPlanMain {
  background: #fff;
  color: #000;
  padding: 50px 10px 50px 10px; 
  height: 110vh;
}
.masterPlanContent {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 25px;
  margin-top: 50px;
  position: absolute;
  z-index: 1;
  height: 100%;

}

/* Side Menu Styling*/
.buttonShown{
   position: absolute;
   background-color: #1C7A54;
   padding: 10px;
   border-radius: 15px;
   border: none;
   transform: rotate(90deg);
   right: 0;
  }
   .sideMenuMain{
     display: flex;
     flex-direction: column;
     gap: 5px;
   }
.sideMenuMP {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 26px 15px;
  overflow-y: scroll;
  border: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  transition: all 0.3s ease-in-out ;
}
.sideMenuMP::-webkit-scrollbar {
  width: 0em;
}
.searchSideMenu {
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  background: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  column-gap: 5px;
}
.searchSideMenu > input {
  border: none;
  outline: none;
  color: #5b5d5f;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
}
.searchSideMenu > input::placeholder {
  color: #8b8f92;
}
.sideMenuTreeView {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.sideMenuTreeView > p {
  color: var(--black-40, rgba(0, 0, 0, 0.4));
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.treeViewSideMenu {
  overflow-y: scroll;
  user-select: none;
}
.treeViewSideMenu::-webkit-scrollbar {
  width: 0;
}
/* Sytling for selecting elemtns */
.choosen > p {
  color: #63C69A;
  font-family: "DINNext-meduim", sans-serif;
  font-size: 14px;
  margin-left: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.choosen > p > span:last-child {
  color: #000;
}
.choosen > p > span:hover {
  text-shadow: 1px 0px;
}
/* Master plan content */
.sideContent { 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 29px;
  overflow: scroll;
}
.sideContent::-webkit-scrollbar {
  width: 0;
}
.sideContent > p {
  color: #000;

  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contentPlan {
  border-radius: 10px;
  background: #fff;
  height: 100%;
  padding: 0px 0px;
  position: relative;

}

.contentPlan > ul > li {
  color: #575757;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 16px;
}
/* Sytling button for showing video for master_plan */
.videoShow{
  color: #fff !important; 
  background: linear-gradient(to right, #1C7A54, #63C69A) ;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 12px 35px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  margin-bottom: 10px;
  float: right;
  z-index: 999;
  position: absolute;
  right: 50px;
  top: 0px
}
.videoShow:hover{
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}
.sideMenuMP.hide {
  transform: translateX(-100%);
}

.sideMenuMP.show {
  transform: translateX(0);
}

.toggleButton {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 1000;
   width: fit-content;
  background-color: #1C7A54;
  padding: 5px; 
  color: white;
  border: none;
  font-size: 14px;
  font-family: "DINNext-meduim", sans-serif;
  cursor: pointer;
}


/* Table Elements */
 .tableHover{
   cursor: pointer;
 }
 .tableHover:hover{
   color: #63C69A
 }
 .documentMasterPlan {
  position: absolute;
  top: 50px;
  left: 0;  
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f8f9fa; /* Adjust if you have a specific background color */
}

.documentMasterPlan .react-pdf__Document {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.documentMasterPlan .react-pdf__Page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Responsive design for less than 1000px */
@media (max-width: 1000px) {
  .masterPlanMain {
    padding-left: 5px;
  } 
  .masterPlanContent {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 0px; 
    height: 100%;
  }
  
 

}
/* Responsive for less than 600px */
@media (max-width: 600px) {
    .choosen{
       margin-left: 0px;
    }
  .masterPlanContent {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px; 
    height: 100%;
  }
  
 .videoShow{
  padding: 7px 15px;
  right: 5px;
  top: 0;
 }
 .documentMasterPlan{
  position: static;
 }
}
/* 430px */
@media (max-width: 435px) {
  .choosen > p {
    font-size: 10px;
    margin-left: 0px;
    flex-wrap: wrap;
  }
  .sideContent > p {
    font-size: 24px;
  }
  .contentPlan {
    padding: 46px 5px;
  }
  .contentPlan > ul > li {
    font-size: 13px;
  }
}
