/* Navbar styling */
.navModified {
  position: relative;
  z-index: 100;
  padding-top: 32px;
  background: linear-gradient(180deg, #00685e 0%, #00685e 100%),
    linear-gradient(180deg, #00685e 0%, #00685e 100%),
    linear-gradient(98deg, #00685e 20.86%, #00685e 37.28%, #00685e 91.31%);
}
.navMain {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  background: #009889;
  height: 111px;
  padding: 30px 81px;
  padding-top: 25px;
}
.aboutModified {
  padding-top: 0px !important;
}
.aboutNav {
  background-color: #ffffff;
  border-bottom: 2px dotted rgba(0, 119, 199, 0.2);
}
.logo {
  justify-self: flex-start;
  cursor: pointer;
}
.navSections {
  align-self: center;
  margin-top: 10px;
  justify-self: flex-start;
  z-index: 10;
  position: relative;
}
.section {
  display: flex;
  align-items: center;
  gap: 40px;
}
.section > li {
  list-style-type: none;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  border: none;

  position: relative;
}
.active {
  color: #0076c7 !important;
  border-bottom: 2px solid #0076c7 !important;
}
.active:hover {
  color: #0076c7;
  border-bottom: 2px solid #0076c7 !important;
  font-weight: 700 !important;

  font-size: 16px !important;
}

.secAbout > li {
  color: #b1b1b1;
}
.secAbout > li:hover {
  color: #0076c7 !important;
}
.secAbout > li::after {
  background-color: #0076c7 !important;
}
.section > li:hover {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  text-shadow: 1px 0;
  line-height: normal;
}
.activeHome {
  color: #fff;
  border-bottom: 2px solid #fff !important;
}
.section > li::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom: 0;
  background-color: white;
  transition: all ease-in-out 0.2s;
}
.section > li:hover::after {
  width: 100%;
  left: 0;
}
.section > li:last-child {
  display: flex;
  align-items: center;
  gap: 5px;
}
.feedBackSection {
  align-self: center;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.btnFeedback {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 22.5px;
  background: #005149;
  width: 151px;
  height: 45px;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btnFeedback:hover {
  box-shadow: 0px 0px 5px #062c54;
}
.btnFeedback > p {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease-in-out;
}
.btnFeedback:hover > p {
  font-size: 13px;
}
/* Responsive design for less than 1100px */
@media (max-width: 1099px) {
  .navMain {
    padding: 25px 30px;
  }
  .section {
    gap: 20px;
  }
}

/* Responsive design for less than 870px */
@media (max-width: 900px) {
  .navMain {
    grid-template-columns: 3fr 1fr;
    padding: 25px 30px;
  }

  .navSections {
    position: fixed;
    padding-top: 0px;
    left: -100%;
    top: 6rem;
    height: 320px;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 100;
    padding: 20px 0;
  }
  .imgMini {
    display: none;
  }
  .feedBackSection {
    position: fixed;
    z-index: 999;
    left: -100%;
    top: 21rem;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }
  .section > li:hover {
    color: #0076c7;
  }
  .section > li::after {
    background-color: #0076c7;
  }
  .section {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    z-index: 99 !important;
  }
  .section > li {
    color: #0076c7;
  }
  .navSection {
    display: block;
  }
  .navAuth {
    position: fixed;
    z-index: 1000;
    left: -100%;
    top: 23rem;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }
  .navContentHam {
    left: 0% !important;
  }
  .navAuthHam {
    left: 50%;
    transform: translateX(-50%);
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .footerLayout {
    height: 75px;
  }
  .footerContent {
    display: none;
  }
  .vision {
    display: none;
  }
}
@media (max-width: 600px) {
}
