.faqMain {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  color: #000;
}
.faqMain::-webkit-scrollbar {
  width: 0;
}
.choosen {
  background-image: url("../../public/assets/imges/aboutBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 38px 91px;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
}
.choosen > h1 {
  font-size: 48px;
  color: #fff;
  font-family: Montserrat;
}
.choosen > p {
  color: #000;
  font-family: "DINNext-meduim", sans-serif; 
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.choosen > p > span:first-child {
  color: #fff;
}
.choosen > p > span:first-child {
  color: #fff;
}
.choosen > p > span:hover {
  font-weight: 600;
}
.faqContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 70px 120px;
  font-size: 16px;
  justify-content: center;
}
.faQestions{
 box-shadow: 0px 2px 4px 2px rgba(38, 36, 45, 0.03),2px 3px 4px 3px rgba(51, 48, 60, 0.02),1px 1px 13px 3px rgba(60, 13, 203, 0.01);
  }
.faqContent > p {
  font-family: Montserrat;
  font-weight: 400;
  color: #000;
  text-align: center;

  margin: auto;
}
.freq {
  color: rgba(51, 48, 60, 0.87);
  display: flex;
  gap: 10px;
  align-items: center ;
}
/* Responsive for screen less than 600px */
@media (max-width: 600px){
   .choosen{
     padding: 38px 15px;
   }  
   .faqContent{
     padding: 50px 10px;
   }
}