/* Master plan styling */
.masterPlanMain {
  background-image: url("/assets/imges/master-background.png");
  height: 100vh;
  background-size: 100% 100%;
  object-fit: cover;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.masterPlanMain > h1 {
  color: #fff;
  text-align: right;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.masterpyrmaid {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  margin-top: 50px;
  margin-left: 40px;
}

.singleLevel {
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}
.masterPlanInfoImg {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.masterPlanInfo {
  transition: all 0.3s ease-in-out;
  fill: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  stroke-width: 1px;
  stroke: #fff;
  backdrop-filter: blur(12px);
  width: 357px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #585c61;
  padding: 15px 54px;
}
.masterPlanInfo > p {
  color: #fff;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.odd {
  margin-left: 325px;
}
.even {
  margin-right: 450px;
}
/* Responsive design for less than 1400px */
@media (max-width: 1400px) {
  .masterPlanInfo {
    width: 327px;
  }
  .odd {
    margin-left: 265px;
  }
}
/* Responsive design for less than 1300px */
@media (max-width: 1300px) {
  .masterPlanInfo {
    width: 250px;
    padding: 15px 24px;
  }
  .masterPlanInfo > p {
    font-size: 13px;
  }
  .even {
    margin-right: 370px;
  }
  .odd {
    margin-left: 180px;
  }
}
/* Responsive design for less than 1300px */
@media (max-width: 1150px) {
  .masterPlanInfoImg {
    column-gap: 5px;
  }
  .masterPlanInfo {
    width: 210px;
    padding: 20px 5px;
  }
  .masterPlanInfo > p {
    font-size: 13px;
  }
  .even {
    margin-right: 330px;
  }
  .odd {
    margin-left: 100px;
  }
}
/* Responsive design for less than 1000px */
@media (max-width: 1000px) {
  .masterPlanInfo {
    display: none;
  }
  .even {
    margin-right: 0px;
  }
  .odd {
    margin-left: 0px;
  }
  .masterpyrmaid {
    margin-left: 0;
  }
  .pyramid1 {
    width: 100px;
    height: 90px;
  }
  .pyramid2 {
    width: 200px;
    height: 90px;
  }

  .pyramid3 {
    width: 310px;
    height: 90px;
  }
  .pyramid4 {
    width: 430px;
    height: 90px;
  }
  .pyramid5 {
    width: 540px;
    height: 90px;
  }
}

/* Responsive design for less than 550px */
@media (max-width: 550px) {
  .pyramid1 {
    width: 90px;
    height: 65px;
  }
  .pyramid2 {
    width: 150px;
    height: 65px;
  }

  .pyramid3 {
    width: 225px;
    height: 65px;
  }
  .pyramid4 {
    width: 305px;
    height: 65px;
  }
  .pyramid5 {
    width: 390px;
    height: 80px;
  }
}
