/* Styling the bottom section of the home page */

.homeBottomMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 150px;
  padding: 80px;
  height: calc(100vh - 140px);
  background-image: url("/assets/svg/mapWorld.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  position: relative;
}
.bottomLogo > h2 {
  color: #000;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.bottomLogo > h2 > span {
  color: #005149;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.partners {
  display: flex;
  align-items: center;
  column-gap: 55px;
}
.arrowsImg {
  position: absolute;
  top: 180px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.arrowRightRotate {
  transform: rotate(180deg);

  cursor: pointer;
}
.arrowLeft {
  cursor: pointer;
}
.partnerItem {
  cursor: pointer;
}
.partnerItem::selection {
  user-select: none;
}

/* Styling footer */
.footerMain {
  background-image: url("/assets/imges/Wave-green.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #fff;
  height: 140px;
  position: relative;
  z-index: 99;
}
.footerContentMain {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px 0px 80px;
}
.footerContent {
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.footerContent > li {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.footerContent > li:hover {
  text-shadow: 1px 0px;
}
.footerCopyRight > p {
  color: #fff;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
/* Arrow down button */
.btnDown {
  position: absolute;
  bottom: -50px;
  z-index: 100;
  left: 80px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6.449999809265137px);
  width: 75px;
  height: 75px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1125px) {
  .visionImg {
    width: 200px;
    height: 80px;
  }
}
@media (max-width: 850px) {
  .homeBottomMain {
    row-gap: 120px;
  }
  .partners {
    column-gap: 25px;
  }
  .partnerItem > img {
    width: 120px;
    height: 120px;
  }
  .footerContentMain {
    padding: 40px 10px 0px 10px;
  }
  .footerContent {
    column-gap: 10px;
  }
  .footerContent > li {
    font-size: 15px;
  }
  .footerCopyRight > p {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .btnDown {
    left: 30px;
    width: 50px;
    height: 50px;
  }
  .visionFooter {
    display: none;
  }
  .homeBottomMain {
    row-gap: 120px;
  }
  .partners {
    column-gap: 25px;
  }
  .partnerItem > img {
    width: 100px;
    height: 100px;
  }
  .sliders {
    width: 150px;
  }
  .footerContentMain {
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
}
