/* Styling for download page */
.downloadPage {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  position: relative;
    color: #4b465c;
}
.choosen {
  background-image: url("../../public/assets/imges/aboutBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 38px 91px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
}
.choosen > h1 {
  font-size: 48px;
  color: #fff;
  font-family: Montserrat;
}
.choosen > p {
  color: #000;
  font-family: "DINNext-meduim", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.choosen > p > span:first-child {
  color: #fff;
}
.choosen > p > span:first-child {
  color: #fff;
}
.choosen > p > span:hover {
  font-weight: 600;
}
.downloadContent {
  display: flex;
   align-items: center;
   justify-content: center;
}
.downloadSectionContent{
   
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #3d9e7b;
     
  border-radius: 20px;
}
.downloadSectionContent > h1 {
  color: #005149;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.downloadSectionContent > p {
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  
  padding: 7px 41px !important;
}
.selectSection{
  background: linear-gradient(to right, #1C7A54, #63C69A) ;
  color: #fff !important; 
  border-radius: 20px; 
  width: 100%;
}
.downloadTables { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.filteringDocument {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filterByNumber {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Styling for pagniation items  */
.paginationContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
.paginationLink {
  padding: 7px 12px;
  margin: 0 5px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  border: 1px solid #952a2a;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.paginationLink:hover {
  background-color: #eee;
}
.paginationLink.active {
  background-color: #00685e;
  color: #fff;
}
.pagination {
  list-style: none;

  display: flex;
  gap: 3px;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}
.paginationTerm {
  color: #4b465c;
  font-size: 16px;
  background-color: rgb(233, 229, 229);
  padding: 7px;
  font-family: "DINNext-light", sans-serif;
  border-radius: 5px;
}
.active {
  background-color: #1c7a54 !important;
  color: #fff;
  border-radius: 5px;

  font-family: "DINNext-light", sans-serif;
}

.pageItem {
  list-style: none;
  padding: 2px 12px;
  height: 31.5px;
  width: 31.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  background-color: rgb(233, 229, 229);
  border-radius: 7px;
  padding: 7px;
  color: #fff;
  font-family: "DINNext-light", sans-serif;
}
.submitBtn {
  padding: 10px 30px;
  background-color: #63c69a;
  display: flex;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;

  align-self: flex-end;
}
/* Resouces page new design */
/* Section one */
 .resourceMain{
   display: flex; 
   gap: 30px;
   padding: 0 50px;
 }
 .resourceSection{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 20px;
 }
 .resminiSeciton{ 
  display: flex;
  align-content: center; 
  gap: 5px;

 }
 .resminiSecHead{
   border: 1px solid #4B465C;
   width: 250px;
   padding: 10px;
   border-radius: 10px;
   cursor:  inherit;
 }
 .resminiSeciton > p{
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
 }
 .selectSideSection{
  background: linear-gradient(to right, #1C7A54, #63C69A) ;

  color: #fff !important;
  padding: 10px 15px;
  border-radius: 7px; 
  width: 250px; 
 }
 .notSelectSideSec{
   padding: 0px 15px;
 }
 .downloadHead{
  display: flex;
  align-items: center;
  gap: 15px;
 }
 .downloadImgHead{
  background-color: #63c69a ;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .downloadHead > p {
  color: #4b465c;
  font-family: "DINNext-Meduim", sans-serif;

 }
 
.faqContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 70px 120px;
  font-size: 16px;
  justify-content: center;
}
.faQestions {
  box-shadow: 0px 2px 4px 2px rgba(38, 36, 45, 0.03),
    2px 3px 4px 3px rgba(51, 48, 60, 0.02),
    1px 1px 13px 3px rgba(60, 13, 203, 0.01);
}
.faqContent > p {
  font-family: Montserrat;
  font-weight: 400;
  color: #000;
  text-align: center;

  margin: auto;
}
.freq {
  color: rgba(51, 48, 60, 0.87);
  display: flex;
  gap: 10px;
  align-items: center;
}
/* Styling for new structure of FAQ page */
.faqTypeMain{
  display: grid;
  grid-template-columns: 1fr 5fr;
   gap: 20px;
}
.sideSection{
   display: flex;
   flex-direction: column;
   gap: 20px;
   
  font-family: "DINNext-meduim", sans-serif;
}
.faqType{
   display: flex;
   align-items: center;
   gap: 5px;
   cursor: pointer;
   padding-left: 15px;
}
.faqType > p{
   font-size: 13px;
}
.faqTypeClicked{
   background-color: #3d9e7b ;
   color: #fff;
   padding: 10px;
   padding-left: 15px;
   border-radius: 5px;
}
.faqheaderQuestion{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 30px;
}
.faqtitleHead{
   display: flex;
   align-items: center;
   gap: 15px;
   
}
 .faqImgHead{
  background-color: #63c69a ;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
.faqtitleHead > p{
   font-size: 20px;
  color: #4b465c;
  font-family: "DINNext-Bold", sans-serif;
}
.downloadButton{
   display: flex;
   align-items: center;
   gap: 5px;
   cursor: pointer;
}
.downloadButton > p{
  color: #4b465c;
  font-family: "DINNext-meduim", sans-serif ;
}
/* Media for less than 1150 */
@media (max-width: 1150px) {
  .downloadContent {
    padding: 0 80px;
  }
  .tableHead {
    grid-template-columns: 5fr 1fr 1fr 1fr;
  }
}
/* Media for less than 900 */
@media (max-width: 900px) {
  .downloadContent {
    padding: 0 20px;
  }
  .tableHead {
    grid-template-columns: 5fr 1fr 1fr 1fr;
    font-size: 12px;
  }
  .downloadTables {
    padding: 32px 21px;
  }
}
/* Media for less than 500 */
@media (max-width: 500px) {

  .downloadContent > h1 {
    font-size: 24px;
  }
  .choosen {
    gap: 10px;
    padding: 22px 31px;
    height: 130px;
  }
  .choosen > h1{
     font-size: 30px !important;
  }
  .downloadContent {
    padding: 0px 10px;
  }

  .tableHead {
    grid-template-columns: 3fr 1fr 1fr 1fr;
    font-size: 11px;
    gap: 7px;
  }
  .tableHead > p {
    justify-self: flex-start;
  }
  .downloadTables {
    padding: 12px 0px;
  }
  .resourceMain{
    flex-direction: column;
    padding: 0px 10px;
  }
  .resourceSection{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  } 
  .downloadContent {
    padding: 5px;
    gap: 10px;  
  }
  
.downloadContent > p {
  font-size: 12px;
}
.selectSection{
  padding: 5px 25px;
  border-radius: 7px; 
  box-shadow: 0px 2px 3px #888888;
}
}
