/* Styling for section one in the home page */
.sectionOne {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 20px 60px;
  background: linear-gradient(180deg, #0076c7 0%, #2ca9ff 100%);
  height: calc(100vh - 111px);
}
.secOneContect {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  position: relative;
  z-index: 10;
}
.secOneContect > h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.secOneContect > p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}
.secOneButton {
  display: flex;
  width: 333px;
  height: 52px;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 26px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.secOneButton:hover {
  box-shadow: 2px 5px 5px #0076c7;
}
.secOneButton > p {
  color: #3ba1fd;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 99.999% */
}
/* Section two */
.sectionTwo {
  margin-right: -100px;
}
.semicircle {
  width: 1268px;
  height: 1268px;
  flex-shrink: 0;
  border-radius: 1268px;
  background: rgba(0, 0, 0, 0.06);
  position: absolute;
  z-index: 0;
  left: -900px;
  bottom: -700px;
}
.airStreetBeauty {
  position: absolute;
  right: 0;
  top: calc(50% - 100px);
}
.planeAnimated {
  position: absolute;
  top: calc(50% - 320px);
  right: 0;

  animation: moveAndDisappear 3s linear infinite;
}
.planeAnimatedtwo {
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0;

  animation: moveAndDisappear2 3s linear infinite 1s;
}
@keyframes moveAndDisappear {
  0% {
    right: 0;
    top: calc(50% - 320px);
    opacity: 0;
  }
  25% {
    right: 200px;
    top: calc(50% - 220px); /* Adjust the target position */
    opacity: 1;
  }
  50% {
    right: 400px;
    top: calc(50% - 120px);
    opacity: 1;
  }
  75% {
    right: 600px;
    top: calc(50% - 50px);
    opacity: 0;
  }
  100% {
    right: 700px;
    transform: rotate(20deg);
    top: calc(50%);
    opacity: 0;
  }
}

@keyframes moveAndDisappear2 {
  0% {
    right: 0;
    top: calc(50%);
    opacity: 0;
  }
  25% {
    right: 150px;
    top: calc(50% + 80px); /* Adjust the target position */
    opacity: 1;
  }
  50% {
    right: 250px;
    top: calc(50% + 130px);
    opacity: 1;
  }
  75% {
    right: 300px;
    top: calc(50% + 150px);
    opacity: 1;
  }
  100% {
    right: 320px;
    top: calc(50% + 160px);
    opacity: 0;
  }
}
/* Arrow down button */
.btnDown {
  position: absolute;
  bottom: 0;
  border-radius: 24.5px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 36px 15px;
  cursor: pointer;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px); /* Adjust the distance the arrow moves up */
  }
  60% {
    transform: translateY(-5px); /* Adjust the distance the arrow moves down */
  }
}

.arrowDown {
  animation: bounce 2s infinite; /* Adjust the animation duration as needed */
}

/* FeedbackSection.css */
.feedbackSection {
  position: fixed;
  top: 0;
  right: -100%; /* Initially off-screen to the right */
  height: 100vh;
  width: 29%;
  transition: right 0.5s ease-in-out;
  z-index: 110;
  background-color: #fff;
  overflow-y: scroll;
}

.feedbackBar {
  background-color: #3498db;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.feedbackContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  width: 100%;
}
.feedbackContent > h2 {
  color: #0076c7;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.exitImage {
  cursor: pointer;
}
.visible {
  right: 0; /* Slide in from the right when visible */
}
.feedbackContent > form {
  width: 100%;
}
.formsInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid #e8eaed;
  border-radius: 8px;
  padding: 12px 10px;
}
.inputLabel > label {
  color: gray;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inputLabel > input,
.inputLabel > select,
.inputLabel > textarea {
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: transparent;
  font-family: Montserrat;
  border: none;
  color: #000;
  outline: none;
}
.inputLabel > input::placeholder,
.inputLabel > select,
.inputLabel > textarea::placeholder {
  color: darkgray;
}
.inputLabelFocused {
  border-color: #0076c7;
}
.inputLabelError {
  border-color: rgb(224, 7, 7);
}
.submitBtn {
  width: 100%;
  padding: 15px 50px;
  background-color: #0076c7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}
.submitBtn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
}
.submitBtn > p {
  cursor: pointer;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  border: none;
}
.submitBtn:hover > button {
  font-size: 19px;
  font-weight: 500;
}
/* Responsive style for less than 1200px */
@media (max-width: 1250px) {
  .sectionOne {
    padding: 20px 0 20px 20px;
  }
  .streetPlane {
    width: 725px;
  }
  .airStreetBeauty {
    margin-top: 30px;
  }
  .planeAnimated {
    margin-top: 50px;
    width: 200px;
    height: 200px;
  }
  .planeAnimatedtwo {
    margin-top: 50px;
    width: 200px;
    height: 200px;
  }
  .feedbackSection {
    width: 45%;
  }
}
/* Responsive style for less than 1200px */
@media (max-width: 1050px) {
  .sectionOne {
    padding: 10px 0 20px 10px;
  }
  .streetPlane {
    width: 625px;
    height: 500px;
  }
  .airStreetBeauty {
    margin-top: 30px;
  }
  .planeAnimated {
    margin-top: 50px;
    width: 200px;
    height: 200px;
  }
  .planeAnimatedtwo {
    margin-top: 50px;
    width: 200px;
    height: 200px;
  }

  .secOneContect > h1 {
    font-size: 43px;
  }
  .secOneContect > p {
    font-size: 15px;
  }
  .feedbackSection {
    width: 45%;
  }
}
/* Responsive style for less than 900px */
@media (max-width: 900px) {
  .sectionOne {
    padding: 110px 0 20px 10px;
    height: 100vh;
    overflow: hidden;
  }
  .streetPlane {
    width: 100%;
    height: 100%;
  }
  .airStreetBeauty {
    margin-top: -100px;
  }
  .planeAnimated {
    margin-top: -100px;
    width: 200px;
    height: 200px;
  }
  .planeAnimatedtwo {
    margin-top: -150px;
    width: 200px;
    height: 200px;
  }
  .secOneContect {
    row-gap: 12px;
    margin-bottom: 30px;
    justify-self: flex-start;
  }
  .secOneContect > h1 {
    font-size: 28px;
  }
  .secOneContect > p {
    font-size: 15px;
    line-height: 20px; /* 187.5% */
  }
  .sectionOne {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .sectionTwo {
    transform: rotate(30deg);
    margin-top: -50px;
  }
  .semicircle {
    display: none;
  }
  .secOneButton {
    width: 233px;
    height: 42px;
    padding: 16px 12px;
  }
  .secOneButton > p {
    font-size: 14px;
  }
  .feedbackSection {
    width: 55%;
  }
  .btnDown {
    left: 50%;
    bottom: 0;
    padding: 30px 10px;
  }
}
@media (max-width: 600px) {
  .sectionOne {
    margin-top: -80px;
  }
  .airStreetBeauty {
    display: none;
  }
  .planeAnimated {
    margin-top: 50px;
    width: 150px;
    height: 150px;
  }
  .planeAnimatedtwo {
    margin-top: -100px;
    width: 150px;
    height: 150px;
  }
  .feedbackSection {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .airStreetBeauty {
    display: none;
  }
  .planeAnimated {
    margin-top: 100px;
    width: 120px;
    height: 120px;
  }
  .planeAnimatedtwo {
    margin-top: -20px;
    width: 120px;
    height: 120px;
  }
  .feedbackSection {
    width: 100%;
  }
}
/* Media query for the hight less than 700px */
@media (max-height: 600px) {
  .secOneContect {
    row-gap: 10px;
    margin-top: 300px;
  }
  .sectionOne {
    padding: 10px 0 20px 10px;
  }
}
